@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f7fa;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, sans-serif;
}

@layer components {
  .primary-btn {
    @apply w-full h-[44px] bg-[#C1E7F0] text-base font-medium rounded-full 
    text-center hover:bg-[#C1E7F0]/80
    border-1 border-[#7CBBDE]
    cursor-pointer
    transition-colors;
  }
}
